* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("maind.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
  justify-content: left;
}

.nav-links {
  flex: 1;
  text-align: right;

}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: realtive;
}

.nav-link ul li a {
  color: white;
  text-decoration: none;

}

.nav-link ul li ::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: rgb(158, 29, 29);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link ul li :hover::after {
  width: 100%;
}

.textbox {

  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textbox h1 {
  font-size: 92px;
  padding-bottom: 20px;
}

.textbox p {
  margin: 10px 2px 40px;
  font-size: 24px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;

}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  border-radius: 80px;
}

nav .fa {
  display: none;
}

@media(max-width: 700px) {
  .textbox h1 {
    font-size: 40px;
  }

  .textbox p {
    font-size: 10px;
  }

  .nav-link ul li {
    display: block;
  }

  .nav-link {
    position: absolute;
    background: #ed907b;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-link ul {
    padding: 30px;
  }
}







.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

h1 {
  font-size: 36px;
  font-weight: 600;

}

p {
  color: rgb(132, 84, 84);
  font-size: 14px;
  font-weight: 300px;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #f7bfbf;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 20px;
}


@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;


}

.campus-col img {
  width: 95%;
  display: block;
  border-radius: 20px;
  transition: 1s;

}

/* }
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
transition: 0.5s;
}
.layer:hover{
  background:  rgba(226, 0, 0, 0.5);

} */
.campus-col img:hover {
  width: 100%;

}





.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.facitities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facitities-col img {
  width: 100%;
  border-radius: 10px;
}

.facitities-col p {
  padding: 0;
}

.facitities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
}

.patronage {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}

.patronage-col {
  text-align: left;
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 25px;
  cursor: pointer;
  display: flex;
  background: #f9c2c2;
  margin-left: 30px;
  margin-right: 30px;
}

.patronage-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.patronage-col p {
  padding: 0;
}

.patronage-col h3 {
  margin-top: 15px;
  text-align: left;
}

.cont {
  margin: 100px auto;
  text-align: center;

}

.cont h1 {
  color: #0a0909;
  margin-bottom: 40px;
  padding: 0%;
}

.hero-btn2 {


  color: #150e0e;
  border: 1px solid #141313;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;

  border-radius: 5px;

}

.hero-btn2:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  border-radius: 80px;
}

.separation {
  height: 7px;
  background-color: rgb(6, 5, 5);
  position: relative;
  z-index: 20;
}


@media(max-width: 700px) {
  .cont h1 {
    font-size: 24px;
  }
}

/* footer*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;

}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.maker {
  font-size: 10px;
}

/* @media(max-width:700px){

.textbox{
  font-size: 24px;
}

} */

/* ------aobut us page____ */
.Sub-header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(ab.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.Sub-header h1 {
  margin-top: 100px;

}

about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;

}

.about-col {
  flex-basis: 48;
  padding: 30px 46px;
}

.about-col img {
  width: 100%;
  border-radius: 30px;

}

.about-col h1 {
  padding-top: 0px;

}

.about-col p {
  padding: 15px 0 25px;
}

.hero-btnk {
  display: inline-block;
  text-decoration: none;
  color: #100e0e;
  border: 1px solid #0a0707;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e17979;

}

.hero-btnk:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 2s;
  border-radius: 150px;
}

.Sub-member-header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(team.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.Sub-member-header h1 {
  margin-top: 100px;

}

about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;

}